#nav_bar {
  display: flex;
  position: absolute;
  top: 3px;
  text-align: center;
  height: 35px;
  width: 95%;
  color: white;
  margin: auto;
  background-color: rgba(19, 19, 19, 0.776);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#import_div {
  flex: 1;
  float: left;
  margin: auto;
}

#import_BTN {
  width: 60%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: large;
}

#toggle_div {
  flex: 2;
  float: right;
  margin: auto;
}

#toggle_BTN {
  width: 80%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: large;
}

button:hover {
  background-color: rgb(255, 90, 90);
}
