#ringMenuGround {
}

#rightClickMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 700px;
  height: 700px;
  top: 50px;
  left: 50px;
}

#closeBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid rgb(82, 65, 22);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#closeBTN:hover {
  background-color: rgb(255, 0, 0);
}

#notePinBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#notePinBTN:hover {
  background-color: rgb(170, 122, 49);
}

#mobBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 35%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#mobBTN:hover {
  background-color: rgb(170, 122, 49);
}

#miningBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#miningBTN:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35%;
  right: 35%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#harvestingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#loggingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#loggingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#trackingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35%;
  left: 35%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#trackingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#farmingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#farmingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#fishingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
  top: 35%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#fishingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#notePinSubDiv {
  position: absolute;
  width: 200px;
  height: 85px;
  background-color: rgb(212, 158, 20);
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  top: 15%;
  border-radius: 10px;
}
