#rightClickMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 700px;
  height: 700px;
  top: 50px;
  left: 50px;
}

#closeBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid rgb(82, 65, 22);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
  background-color: red;
}

#closeBTN:hover {
  background-color: rgb(255, 0, 0);
}
