#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 99%;
  width: 100%;
  pointer-events: none;
}

#saveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1.2%;
  top: 1%;
  width: 210px;
  height: auto;
  background-color: rgba(19, 19, 19, 0.776);
  border: 2px solid rgb(212, 158, 20);
  position: absolute;
  border-radius: 10px;
  padding: 4px;
  color: rgb(212, 158, 20);
  font-size: medium;
  font-weight: 600;
  background-color: rgba(19, 19, 19, 0.856);
  text-shadow: 2px 2px 2px black, 0 0 10px rgb(0, 0, 0);
  text-align: center;
  user-select: none;
  pointer-events: all;
}

#saveContainer:hover {
  border: 2px solid rgb(255, 0, 0);
  color: red;
}

.span {
  padding-bottom: 3px;
  font-size: medium;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  color: red;
}
