#harvestingBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35%;
  right: 35%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 0px rgb(102, 79, 20), -5px 0px rgb(102, 79, 20),
    0px 5px rgb(102, 79, 20), 0px -5px rgb(102, 79, 20);
  border-radius: 50%;
  background-color: rgb(212, 158, 20);
  user-select: none;
}

#harvestingBTN:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivStandard {
  position: absolute;
  bottom: 25%;
  left: 6.5%;
  color: rgb(212, 158, 20);
  text-shadow: 2px 2px rgb(102, 79, 20), -2px 2px rgb(102, 79, 20),
    -2px -2px rgb(102, 79, 20), 2px -2px rgb(102, 79, 20);
  text-decoration: solid underline rgb(212, 158, 20) 3px;
  user-select: none;
}

#harvestingSubDivMagical {
  position: absolute;
  bottom: 25%;
  left: 40%;
  color: rgb(212, 158, 20);
  text-shadow: 2px 2px rgb(102, 79, 20), -2px 2px rgb(102, 79, 20),
    -2px -2px rgb(102, 79, 20), 2px -2px rgb(102, 79, 20);
  text-decoration: solid underline rgb(212, 158, 20) 3px;
  user-select: none;
}

#harvestingSubDivCreatures {
  position: absolute;
  right: 10%;
  bottom: 45%;
  color: rgb(212, 158, 20);
  text-shadow: 2px 2px rgb(102, 79, 20), -2px 2px rgb(102, 79, 20),
    -2px -2px rgb(102, 79, 20), 2px -2px rgb(102, 79, 20);
  text-decoration: solid underline rgb(212, 158, 20) 3px;
  user-select: none;
}

#harvestingSubDivOptionHemp {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 22%;
  left: 5%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionHemp:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionSilkweed {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 17%;
  left: 5%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionSilkweed:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionWirefiber {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 12%;
  left: 5%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionWirefiber:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionBlightroot {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 22%;
  left: 28%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionBlightroot:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionDragonglory {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 22%;
  left: 47%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionDragonglory:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionEarthspine {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 17%;
  left: 28%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionEarthspine:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionLifebloom {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 17%;
  left: 47%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionLifebloom:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionRivercress {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 12%;
  left: 28%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionRivercress:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionShockblub {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 12%;
  left: 47%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionShockblub:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionSoulspire {
  position: absolute;
  min-width: 120px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  bottom: 7%;
  left: 37%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionSoulspire:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionBlightmoth {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 42%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionBlightmoth:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionEarthshell {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 37%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionEarthshell:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionFloatingFish {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 32%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionFloatingFish:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionLifemoth {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 27%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionLifemoth:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionLightning {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 22%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionLightning:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionSalamander {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 17%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionSalamander:hover {
  background-color: rgb(170, 122, 49);
}

#harvestingSubDivOptionSoulwyrm {
  position: absolute;
  min-width: 140px;
  min-height: 20px;
  background-color: rgb(212, 158, 20);
  border: 4px solid rgb(102, 79, 20);
  border-radius: 20px;
  right: 7.5%;
  bottom: 12%;
  font-weight: 700;
  color: rgb(102, 79, 20);
  user-select: none;
}

#harvestingSubDivOptionSoulwyrm:hover {
  background-color: rgb(170, 122, 49);
}

#cateContainerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
