#mainAppDiv {
  display: flex;
  justify-content: center;
  width: auto;
  height: 99vh;
}

#WelcomeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  width: auto;
  top: 3px;
  left: 4px;
  bottom: 2px;
  right: 4px;
  background-color: white;
  visibility: visible;
  z-index: 2;
  user-select: none;
}

#imgWelcome {
  position: absolute;
  width: 90%;
  height: 80%;
}

#loadingIcon {
  position: absolute;
  width: 30%;
  height: 20px;
  border: 5px solid rgb(102, 79, 20);
  border-radius: 50px;
  margin: auto;
  bottom: 24%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 20%,
    rgb(102, 79, 20) 50%,
    rgb(255, 255, 255) 80%
  );
  background-size: 800px 104px;
  visibility: visible;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

#upLoadBTN {
  flex: 1;
  position: absolute;
  bottom: 21%;
  left: 21%;
  width: 300px;
  color: white;
  font-weight: 700;
  background-color: rgb(212, 158, 20);
  border: 7px solid rgb(102, 79, 20);
  border-radius: 10px;
}

#upLoadBTN:hover {
  background-color: rgb(102, 79, 20);
}

#newBTN {
  flex: 1;
  position: absolute;
  bottom: 21%;
  right: 20%;
  width: 300px;
  color: white;
  font-weight: 700;
  background-color: rgb(212, 158, 20);
  border: 7px solid rgb(102, 79, 20);
  border-radius: 10px;
  visibility: hidden;
}

#newBTN:hover {
  background-color: rgb(102, 79, 20);
}

#file-upload {
  flex: 1;
  position: absolute;
  bottom: 22.5%;
  left: 20%;
  width: 300px;
  color: white;
  font-weight: 700;
  background-color: rgb(212, 158, 20);
  border: 3px solid rgb(102, 79, 20);
  border-radius: 10px;
  visibility: hidden;
}

#divTitleUpload {
  position: absolute;
  bottom: 23%;
  left: 22%;
  color: rgb(102, 79, 20);
  font-weight: 900;
  visibility: hidden;
}

#alertBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.863);
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#alertBoxContent {
  position: absolute;
}
